<li class="active">{{#link-to "index"}}Home <span class="sr-only">(current)</span>{{/link-to}}</li>
<li>{{#link-to "home"}}Search{{/link-to}}</li>
<li>{{#link-to "profile"}}Profile{{/link-to}}</li>
<li><a href="#"></a></li>
