<footer class="footer">
    <div class="col-md-8 col-md-push-2">
        <div class="container" style="margin-top:10px;">
            <p class="text-muted">Footer text. Copyright 2016</p>
        </div>
    </div>
</footer>