<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div id="title">
            <div class="page-header">
                <h1>
                    Register
                </h1>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="passwordInput2">Re-enter Password</label>
                <input type="password" class="form-control" id="passwordInput2" placeholder="Password">
            </div>
            <div id="terms">
                <textarea readonly class="form-control" rows="3"
                          placeholder="Insert terms and services here..."></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Agree to terms and services
                </label>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>